nav .logo {
  margin: -10px;
  margin-right: 40px;
}

nav #menu ul li {
  display: inline;
  margin-right: 20px;
}

nav #menu ul li a {
  padding: 8px 11px;
  font-size: 15px;
  color: #737373;
  line-height: 19px;
}

nav #menu .search i {
  font-size: 17px;
  cursor: pointer;
}

nav #menu .shopping_bag i {
  font-size: 17px;
  cursor: pointer;
}

nav #menu .shopping_bag a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

nav #menu .nav-elm-item {
  position: relative;
}

nav #menu .nav-elm-item .elm-collapsed {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  width: 200px;
  height: 0;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
}

nav #menu .nav-elm-item .elm-collapsed ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav #menu .nav-elm-item:hover .elm-collapsed {
  height: auto;
  opacity: 1;
  padding-top: 2.5rem;
  padding-left: -0.5rem;
  background-color: white;
}

main #slider {
  position: relative;
  margin-top: 20px;
}

main #slider .slide {
  position: relative !important;
}

main #slider .text {
  position: absolute !important;
  margin-top: -365px;
}

main #slider .text .title {
  text-align: inherit;
  line-height: 51px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 39px;
}

main #slider .text .about {
  font-family: "Lora";
  font-size: 17px;
  font-weight: 400;
  line-height: 35px;
}

main #shelf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #shelf .menu ul {
  margin-left: -31px;
}

main #shelf .menu ul li {
  display: inline;
  margin-right: 20px;
}

main #shelf .menu ul li a {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

main #shelf .menu ul .filter {
  margin-left: 445px;
}

main #shelf .menu ul .filter button {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

main #shelf .menu ul .filter i {
  cursor: pointer;
}

main #shelf .menu ul .filter .drop_filter_menu ul {
  display: inline-block;
}

main #shelf .menu ul .filter .drop_filter_menu ul li {
  display: block;
}

main #shelf .menu ul .filter .drop_filter_menu .title {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  line-height: 1.363em;
}

main .cell .card {
  margin-bottom: 110px;
}

main .cell .card .card-body h6 {
  font-family: Montserrat;
}

main .cell .card .card-body .cash {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

main .sector {
  background-color: #f5ebeb;
}

main .sector #video {
  display: block;
}

main .sector #video .video {
  display: block;
}

main .sector #video .text .title h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-top: 50px;
}

main .sector #video .text .title p {
  display: block;
  font-family: 'Lora', serif;
  color: #6d6a6a;
}

main .sector #video .text .title .commets p {
  display: block;
  font-family: 'Lora', serif;
  color: #6d6a6a;
}

main #experts {
  margin-top: 6em;
}

main #experts .text h2 {
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

main #experts .text p {
  display: block;
  font-size: 17px;
  line-height: 29px;
  font-family: "Lora", serif;
  color: #6d6a6a;
}

main #experts .people h6 {
  font-family: 'Montserrat';
  font-size: 12px;
}

main #experts .people p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #afafaf;
}

main #info {
  margin-top: 4em;
  width: 100%;
  height: 100vh;
  position: relative;
}

main #info .backg {
  background: url(../image/background/h3-background-img.jpg) fixed;
  background-size: cover;
}

main #info h3 {
  padding-left: 38%;
  padding-top: 50px;
  position: absolute;
  font-size: 30px;
  text-align: center;
}

main #info .search {
  position: absolute;
  padding-left: 38%;
  padding-top: 80px;
}

main #info .search input {
  margin-top: 5px;
  height: 60px;
}

main #info .search button {
  margin-top: 5px;
  width: 170px;
  height: 60px;
  margin-left: -6px;
  background-color: #f34f3f;
  color: #fff;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.833em;
  letter-spacing: 0.1em;
  font-weight: 500;
}

main #blog {
  background-color: #f8f8f8;
  position: relative;
  margin-top: 100px;
}

main #blog .about_blog h2 {
  color: #2b2b2b;
  font-weight: 400;
  font-size: 38px;
  font-family: "Playfair Display", serif;
}

main #blog .about_blog p {
  font-size: 17px;
  line-height: 29px;
  font-family: 'Lora', serif;
  color: #6d6a6a;
}

main #blog .news h5 {
  color: #2b2b2b;
  font-size: 22px;
  line-height: 1.363em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

main #blog .news p {
  line-height: 1.6em;
  font-family: 'Lora', serif;
  color: #6d6a6a;
}

main #blog .news .card-body {
  background-color: #f8f8f8;
}

main #workers {
  margin-top: 110px;
}

main #workers img {
  margin-left: 223px;
}

main #workers p {
  color: #4b4747;
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 24px;
  line-height: 1.5em;
}

main #workers .about span {
  color: #1b1b1b;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer {
  position: relative;
  background-color: #fefaf3;
}

footer h6 {
  color: black;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer ul {
  margin-top: 15px;
}

footer ul li a {
  line-height: 28px;
  font-size: 14px;
  color: #8b8b8b !important;
}

footer .end .name {
  margin-left: -18px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

footer .end .name a {
  text-decoration: none;
  color: #6d6a6a;
}

footer .end .name :hover {
  color: #f34f3f;
}

footer .end .sosial_media a {
  text-decoration: none;
}

footer .end .sosial_media a span {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  letter-spacing: .2em;
  margin-left: 25px;
  color: #6d6a6a;
}

footer .end .sosial_media a :hover {
  color: #f34f3f;
}

main .accordion {
  height: 225px;
  width: 100%;
  background-color: #fafaf9;
}

main .accordion h1 {
  margin: 75px;
  margin-left: 127px;
  font-size: 50px;
  line-height: 1.32em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

main #first_accardion {
  margin-top: 100px;
  margin-bottom: 100px;
}

main #first_accardion .title {
  cursor: pointer;
}

main #first_accardion .title .color {
  color: white;
  background-color: #f34f3f;
}

main #first_accardion .title :hover {
  color: white;
  background-color: #f34f3f;
}

main #first_accardion .card-header {
  background-color: white;
}

main #first_accardion .card-header h6 {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
}

main #first_accardion p {
  font-family: "Lora", serif;
}

main #first_accardion .info {
  display: none;
}

main #second_accardion {
  margin-bottom: 155px;
}

main #second_accardion .title {
  cursor: pointer;
}

main #second_accardion .title .color {
  color: #f34f3f;
}

main #second_accardion .title :hover {
  color: #f34f3f;
}

main #second_accardion .card-header {
  background-color: white;
}

main #second_accardion .card-header h6 {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
}

main #second_accardion .info {
  display: none;
}

main #tab_menu1 .menu #tab_item a {
  color: #1b1b1b;
  text-decoration: none;
  border-bottom: none;
  padding: 15px 45px;
}

main #tab_menu1 .menu #tab_item .show {
  color: white;
  background-color: #f34f3f;
}

main #tab_menu1 .menu #tab_item :hover {
  color: white;
  background-color: #f34f3f;
}

main #tab_menu1 .menu p {
  margin: 0;
  font-family: 'Lora', serif;
  line-height: 1.6em;
}

main #tab_menu1 .tab {
  padding: 75px 47px;
  border: 1px solid #eee;
  margin-top: -1px;
}

main #tab_menu2 .menu #tab_item2 a {
  color: #1b1b1b;
  background-color: #f6f6f6;
  text-decoration: none;
  border-bottom: none;
  padding: 15px 45px;
}

main #tab_menu2 .menu #tab_item2 .show {
  color: white;
  background-color: #f34f3f;
}

main #tab_menu2 .menu #tab_item2 :hover {
  color: white;
  background-color: #f34f3f;
}

main #tab_menu2 .menu p {
  margin: 0;
  font-family: 'Lora', serif;
  line-height: 1.6em;
}

main #tab_menu2 .tab2 {
  padding: 75px 47px;
  border: 1px solid #eee;
  margin-top: -1px;
}

main #tab_menu3 .menu #tab_item3 a {
  color: #1b1b1b;
  text-decoration: none;
  padding: 15px 45px;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 2em;
}

main #tab_menu3 .menu #tab_item3 .show {
  color: #f34f3f;
}

main #tab_menu3 .menu #tab_item3 :hover {
  color: #f34f3f;
}

main #tab_menu3 .menu p {
  margin: 0;
  font-family: 'Lora', serif;
  line-height: 1.6em;
}

main #tab_menu3 .tab3 {
  padding: 75px 47px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: -1px;
}

main #tab_menu4 .menu #tab_item4 a {
  color: #1b1b1b;
  text-decoration: none;
  border-bottom: none;
  border-right: none !important;
  padding: 15px 45px;
}

main #tab_menu4 .menu #tab_item4 .show {
  color: white;
  background-color: #f34f3f;
}

main #tab_menu4 .menu #tab_item4 :hover {
  color: white;
  background-color: #f34f3f;
}

main #tab_menu4 .menu p {
  margin: 0;
  font-family: 'Lora', serif;
  line-height: 1.6em;
}

main #tab_menu4 .tab4 {
  margin-top: .1px !important;
  padding: 75px 47px;
  border: 1px solid #eee;
  margin-top: -1px;
}

main .shop_list {
  height: 225px;
  width: 100%;
  background-color: #fafaf9;
}

main .shop_list h1 {
  margin: 75px;
  margin-left: 127px;
  font-size: 50px;
  line-height: 1.32em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

main #image .show {
  display: none;
}

main #image .show :hover {
  display: block;
}

main #image .first_image a {
  position: relative;
}

main #image .first_image .new {
  position: absolute;
  display: block;
  top: 0;
  width: auto;
  height: 30px;
  background: #f34f3f;
  color: #fff;
  font-family: "Playfair Display",serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  margin: 56px 0 0 9px;
  padding: 5px 13px;
  z-index: 100;
}

main #image .first_image .price {
  cursor: pointer;
  position: relative;
  height: 316px;
  margin-top: -316px;
  padding: 10px 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

main #image .first_image .price .name {
  margin-top: 50%;
  text-align: center;
}

main #image .first_image .price .name a {
  color: #1b1b1b;
  font-family: 'Montserrat';
  text-decoration: none;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

main #image .first_image .price .cash {
  color: #afafaf;
  cursor: pointer;
}

main #image .first_image .price .add_to_card a {
  text-decoration: none;
  color: #fff;
  background-color: #f34f3f;
  position: relative;
  font-size: 16px;
  font-family: 'Montserrat',sans-serif;
  line-height: 2.6em;
  letter-spacing: .1em;
  font-weight: 500;
  padding: 6px 50px;
  z-index: 3;
}

main #image .second_image .price {
  cursor: pointer;
  position: relative;
  height: 316px;
  margin-top: -316px;
  padding: 10px 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

main #image .second_image .price .name {
  margin-top: 50%;
  text-align: center;
}

main #image .second_image .price .name a {
  color: #1b1b1b;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

main #image .second_image .price .cash {
  color: #afafaf;
  cursor: pointer;
}

main #image .second_image .price .add_to_card a {
  text-decoration: none;
  color: #fff;
  background-color: #f34f3f;
  position: relative;
  font-size: 16px;
  font-family: 'Montserrat',sans-serif;
  line-height: 2.6em;
  letter-spacing: .1em;
  font-weight: 500;
  padding: 6px 50px;
  z-index: 3;
}

main #image .third_image a {
  position: relative;
}

main #image .third_image .sold {
  position: absolute;
  display: block;
  top: 0;
  width: auto;
  height: 30px;
  background: #2b2b2b;
  color: #fff;
  font-family: "Playfair Display",serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  margin: 56px 0 0 9px;
  padding: 5px 13px;
  z-index: 100;
}

main #image .third_image .price {
  cursor: pointer;
  position: relative;
  height: 316px;
  margin-top: -316px;
  padding: 10px 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

main #image .third_image .price .name {
  margin-top: 50%;
  text-align: center;
}

main #image .third_image .price .name a {
  color: #1b1b1b;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

main #image .third_image .price .cash {
  color: #afafaf;
  cursor: pointer;
}

main #image .third_image .price .add_to_card a {
  text-decoration: none;
  color: #fff;
  background-color: #f34f3f;
  position: relative;
  font-size: 16px;
  font-family: 'Montserrat',sans-serif;
  line-height: 2.6em;
  letter-spacing: .1em;
  font-weight: 500;
  padding: 6px 50px;
  z-index: 3;
}

main #image .fourth_image .price {
  cursor: pointer;
  position: relative;
  height: 316px;
  margin-top: -316px;
  padding: 10px 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

main #image .fourth_image .price .name {
  margin-top: 45%;
  text-align: center;
}

main #image .fourth_image .price .name a {
  color: #1b1b1b;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

main #image .fourth_image .price .cash {
  color: #afafaf;
  cursor: pointer;
}

main #image .fourth_image .price .add_to_card a {
  text-decoration: none;
  color: #fff;
  background-color: #f34f3f;
  position: relative;
  font-size: 16px;
  font-family: 'Montserrat',sans-serif;
  line-height: 2.6em;
  letter-spacing: .1em;
  font-weight: 500;
  padding: 6px 35px;
  z-index: 3;
}
/*# sourceMappingURL=style.css.map */