$text_color: black;
$margin_right: 20px;
$backgraund_color: #fafaf9;
$font_family: 'Montserrat', sans-serif;
$font_family_h: 'Montserrat';


nav {
  .logo {
    margin: -10px;
    margin-right: 40px;
  }

  #menu {
    ul {
      li {
        display: inline;
        margin-right: $margin_right;

        a {
          padding: 8px 11px;
          font-size: 15px;
          color: #737373;
          line-height: 19px;
        }

      }
    }
    .search {
      i{
      font-size: 17px;
      cursor: pointer;
    }
    }
  
    .shopping_bag {
      i {
        font-size: 17px;
        cursor: pointer;
      }
  
      a {
        color: $text_color;
        font-family: $font_family;
        font-size: 15px;
        cursor: pointer;
      }
  
    }

    .nav-elm-item {
      position: relative;
      
      .elm-collapsed {
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 10;
        width: 200px;
        height: 0;
        opacity: 0;
        transition: all 1s;
        overflow: hidden;

        ul {
          padding: 0;
          display: flex;
          flex-direction: column;
        }
      }

      &:hover {
        .elm-collapsed {
          height: auto;
          opacity: 1;
          padding-top: 2.5rem;
          padding-left: -0.5rem;
          background-color: white;
        }
      }
    }
  }

  
  
}

main {
  // slider
  #slider {
    position: relative;
    margin-top: 20px;

    .slide {
      position: relative !important;
    }

    .text {
      position: absolute !important;
      margin-top: -365px;

      .title {
        text-align: inherit;
        line-height: 51px;
        font-family: 'Playfair Display', serif;;
        font-weight: 400;
        font-size: 39px;
      }

      .about {
        font-family: "Lora";
        font-size: 17px;
        font-weight: 400;
        line-height: 35px;
      }
    }
  }

  //shelf
  #shelf {
    display: flex;

    .menu {
      ul {
        margin-left: -31px;

        li {
          display: inline;
          margin-right: $margin_right;

          a {
            color: $text_color;
            font-family: $font_family;
            font-size: 12px;
          }
        }

        .filter {
          margin-left: 445px;

          button {
            color: $text_color;
            font-family: $font_family;
            font-size: 12px;
          }

          i {
            cursor: pointer;
          }

          .drop_filter_menu {
            ul {
              display: inline-block;

              li {
                display: block;
              }
            }

            .title {
              font-family: "Playfair Display", serif;
              font-size: 22px;
              line-height: 1.363em
            }
          }
        }
      }
    }
  }

  .cell {
    .card {
      margin-bottom: 110px;

      .card-body {
        h6 {
          font-family: Montserrat
        }

        .cash {
          font-size: 12px;
          font-family: 'Montserrat', sans-serif
        }
      }
    }
  }

  .sector {
    background-color: #f5ebeb;

    #video {
      display: block;

      .video {
        display: block;
      }

      .text {
        .title {
          h2 {
            font-family: "Playfair Display", serif;
            font-weight: 400;
            margin-top: 50px;
          }

          p {
            display: block;
            font-family: 'Lora', serif;
            color: #6d6a6a;
          }

          .commets {
            p {
              display: block;
              font-family: 'Lora', serif;
              color: #6d6a6a;
            }
          }
        }

      }
    }
  }

  #experts {
    margin-top: 6em;

    .text {
      h2 {
        color: #2b2b2b;
        font-family: "Playfair Display", serif;
        font-weight: 400;
      }

      p {
        display: block;
        font-size: 17px;
        line-height: 29px;
        font-family: "Lora", serif;
        color: #6d6a6a;
      }
    }

    .people {
      h6 {
        font-family: 'Montserrat';
        font-size: 12px;
      }

      p {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: #afafaf
      }
    }
  }

  #info {
    margin-top: 4em;
    width: 100%;
    //height: 400px;
    height: 100vh;
    position: relative;

    .backg {

      background: url(../image/background/h3-background-img.jpg) fixed;
      background-size: cover;

    }

    h3 {

      padding-left: 38%;
      padding-top: 50px;
      position: absolute;
      font-size: 30px;
      text-align: center;
    }

    .search {
      position: absolute;
      padding-left: 38%;
      padding-top: 80px;

      input {
        margin-top: 5px;
        height: 60px;
      }

      button {
        margin-top: 5px;
        width: 170px;
        height: 60px;
        margin-left: -6px;
        background-color: #f34f3f;
        color: #fff;
        font-size: 12px;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.833em;
        letter-spacing: 0.1em;
        font-weight: 500;
      }
    }
  }

  #blog {
    background-color: #f8f8f8;
    position: relative;
    margin-top: 100px;

    .about_blog {
      h2 {
        color: #2b2b2b;
        font-weight: 400;
        font-size: 38px;
        font-family: "Playfair Display", serif;
      }

      p {
        font-size: 17px;
        line-height: 29px;
        font-family: 'Lora', serif;
        color: #6d6a6a;
      }
    }

    .news {
      h5 {
        color: #2b2b2b;
        font-size: 22px;
        line-height: 1.363em;
        font-family: "Playfair Display", serif;
        font-weight: 400;
      }

      p {
        line-height: 1.6em;
        font-family: 'Lora', serif;
        color: #6d6a6a
      }

      .card-body {
        background-color: #f8f8f8
      }
    }
  }

  // workers
  #workers {
    margin-top: 110px;

    img {
      margin-left: 223px;
    }

    p {
      color: #4b4747;
      font-family: 'Lora', serif;
      font-style: italic;
      font-size: 24px;
      line-height: 1.5em;
    }

    .about {
      span {
        color: #1b1b1b;
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 2em;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
    }
  }
}

footer {
  position: relative;
  background-color: #fefaf3;

  h6 {
    color: black;;
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase
  }

  ul {
    margin-top: 15px;

    li {
      a {
        line-height: 28px;
        font-size: 14px;
        color: #8b8b8b !important;
      }
    }
  }

  .end {
    .name {
      margin-left: -18px;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;

      a {
        text-decoration: none;
        color: #6d6a6a;
      }

      :hover {
        color: #f34f3f;
      }
    }

    .sosial_media {
      a {
        text-decoration: none;

        span {
          font-family: 'Montserrat', sans-serif;
          font-size: 10px;
          letter-spacing: .2em;
          margin-left: 25px;
          color: #6d6a6a;
        }

        :hover {

          color: #f34f3f;
        }
      }
    }
  }
}

// accordion page
main {
  .accordion {
    height: 225px;
    width: 100%;
    background-color: $backgraund_color;

    h1 {
      margin: 75px;
      margin-left: 127px;
      font-size: 50px;
      line-height: 1.32em;
      font-family: "Playfair Display", serif;
      font-weight: 400;
    }
  }

  #first_accardion {
    margin-top: 100px;
    margin-bottom: 100px;

    .title {
      cursor: pointer;
      .color{
        color: white;
        background-color: #f34f3f;
      }
      :hover {
        color: white;
        background-color: #f34f3f;
      }
    }

    .card-header {
      background-color: white;

      h6 {
        font-family: $font_family_h;
        font-size: 12px;
        line-height: 2em;
        font-weight: 500;
        letter-spacing: 0.1em;
      }
    }

    p {
      font-family: "Lora", serif;
    }

    .info {
      display: none;
    }
  }

  #second_accardion {
    margin-bottom: 155px;

    .title {
      cursor: pointer;

      .color{
        color: #f34f3f
      }
      :hover {
        color: #f34f3f;
      }
    }

    .card-header {
      background-color: white;

      h6 {
        font-family: $font_family_h;
        font-size: 12px;
        line-height: 2em;
        font-weight: 500;
        letter-spacing: 0.1em;
      }
    }

    .info {
      display: none;
    }
  }

}

// tab page
main {
  #tab_menu1 {
    .menu {
      #tab_item{
        a {
          color: #1b1b1b;
          text-decoration: none;
          border-bottom: none;
          padding: 15px 45px;
        }
        .show{
          color: white;
          background-color: #f34f3f;
        }
        :hover {
          color: white;
          background-color: #f34f3f;
        }
      }
      p {
        margin: 0;
        font-family: 'Lora', serif;
        line-height: 1.6em;
      }
    }

    .tab {
      padding: 75px 47px;
      border: 1px solid #eee;
      margin-top: -1px;
    }
  }
  #tab_menu2{
    .menu {
     #tab_item2{
      a {
        color: #1b1b1b;
        background-color: #f6f6f6;
        text-decoration: none;
        border-bottom: none;
        padding: 15px 45px;
      }
      .show{
        color: white;
        background-color: #f34f3f;
      }
      :hover {
        color: white;
        background-color: #f34f3f;
      }
     }

      p {
        margin: 0;
        font-family: 'Lora', serif;
        line-height: 1.6em;
      }
    }

    .tab2 {
      padding: 75px 47px;
      border: 1px solid #eee;
      margin-top: -1px;
    }
  }
  #tab_menu3{
    .menu {
     #tab_item3{
      a { 
        color: #1b1b1b;
        text-decoration: none;       
        padding: 15px 45px;
        font-family: "Montserrat";
        font-size: 12px;
        line-height: 2em;
      }
      .show{
        color: #f34f3f;
      }
      :hover {
        color: #f34f3f;
      }
     }

      p {
        margin: 0;
        font-family: 'Lora', serif;
        line-height: 1.6em;
      }
    }

    .tab3 {
      padding: 75px 47px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      margin-top: -1px;
    }
  }
  #tab_menu4{
    .menu {
      #tab_item4{
        a {
          color: #1b1b1b;
          text-decoration: none;
          border-bottom: none ;
          border-right: none !important;
          padding: 15px 45px;
        }
        .show{
          color: white;
          background-color: #f34f3f;
        }
        :hover {
          color: white;
          background-color: #f34f3f;
        }
      }
      p {
        margin: 0;
        font-family: 'Lora', serif;
        line-height: 1.6em;
      }
    }

    .tab4 {
      margin-top: .1px !important;
      padding: 75px 47px;
      border: 1px solid #eee;
      margin-top: -1px;
    }
  }
  
}

// shop list
main{
  .shop_list {
    height: 225px;
    width: 100%;
    background-color: $backgraund_color;

    h1 {
      margin: 75px;
      margin-left: 127px;
      font-size: 50px;
      line-height: 1.32em;
      font-family: "Playfair Display", serif;
      font-weight: 400;
    }
  }
  #image{
    .show{
      display: none;
      :hover{
        display: block;
      }
    }
    .first_image{
      a{
        position: relative;
      }
      .new{
        position: absolute;
        display: block;
        top: 0;
        width: auto;
        height: 30px;
        background: #f34f3f;
        color: #fff;
        font-family: "Playfair Display",serif;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        text-align: center;
        margin: 56px 0 0 9px;
        padding: 5px 13px;
        z-index: 100;
      }
      .price{
        cursor: pointer;
        position: relative;
        height: 316px;
        margin-top: -316px;
        padding: 10px 15px;
        text-align: center;
        background-color: rgba(255,255,255,.9);
        transition: opacity .3s ease;
        .name{
          margin-top: 50%;
          text-align: center;
          a{
            color: #1b1b1b;
            font-family: 'Montserrat';
            text-decoration: none;
            font-size: 12px;
            line-height: 2em;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }
        }
        .cash{
          color: #afafaf;
          cursor: pointer;
        }
        .add_to_card{
         a{
          text-decoration: none;
          color: #fff;
          background-color: #f34f3f;
          position: relative;
          font-size: 16px;
          font-family: 'Montserrat',sans-serif;
          line-height: 2.6em;
          letter-spacing: .1em;
          font-weight: 500;
          padding: 6px 50px;
          z-index: 3;
         }
        }
      }
    }
    .second_image{
      .price{
        cursor: pointer;
        position: relative;
        height: 316px;
        margin-top: -316px;
        padding: 10px 15px;
        text-align: center;
        background-color: rgba(255,255,255,.9);
        transition: opacity .3s ease;
        .name{
          margin-top: 50%;
          text-align: center;
          a{
            color: #1b1b1b;
            text-decoration: none;
            font-family: 'Montserrat';
            font-size: 12px;
            line-height: 2em;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }
        }
        .cash{
          color: #afafaf;
          cursor: pointer;
        }
        .add_to_card{
         a{
          text-decoration: none;
          color: #fff;
          background-color: #f34f3f;
          position: relative;
          font-size: 16px;
          font-family: 'Montserrat',sans-serif;
          line-height: 2.6em;
          letter-spacing: .1em;
          font-weight: 500;
          padding: 6px 50px;
          z-index: 3;
         }
        }
      }
    }
    .third_image{
      a{
        position: relative;
      }
      .sold{
        position: absolute;
        display: block;
        top: 0;
        width: auto;
        height: 30px;
        background: #2b2b2b;
        color: #fff;
        font-family: "Playfair Display",serif;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1px;
        text-align: center;
        margin: 56px 0 0 9px;
        padding: 5px 13px;
        z-index: 100;
      }
      .price{
        cursor: pointer;
        position: relative;
        height: 316px;
        margin-top: -316px;
        padding: 10px 15px;
        text-align: center;
        background-color: rgba(255,255,255,.9);
        transition: opacity .3s ease;
        .name{
          margin-top: 50%;
          text-align: center;
          a{
            color: #1b1b1b;
            text-decoration: none;
            font-family: 'Montserrat';
            font-size: 12px;
            line-height: 2em;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }
        }
        .cash{
          color: #afafaf;
          cursor: pointer;
        }
        .add_to_card{
         a{
          text-decoration: none;
          color: #fff;
          background-color: #f34f3f;
          position: relative;
          font-size: 16px;
          font-family: 'Montserrat',sans-serif;
          line-height: 2.6em;
          letter-spacing: .1em;
          font-weight: 500;
          padding: 6px 50px;
          z-index: 3;
         }
        }
      }
    }
    .fourth_image{
      .price{
        cursor: pointer;
        position: relative;
        height: 316px;
        margin-top: -316px;
        padding: 10px 15px;
        text-align: center;
        background-color: rgba(255,255,255,.9);
        transition: opacity .3s ease;
        .name{
          margin-top: 45%;
          text-align: center;
          a{
            color: #1b1b1b;
            text-decoration: none;
            font-family: 'Montserrat';
            font-size: 12px;
            line-height: 2em;
            font-weight: 500;
            letter-spacing: 0.1em;
            text-transform: uppercase;
          }
        }
        .cash{
          color: #afafaf;
          cursor: pointer;
        }
        .add_to_card{
         a{
          text-decoration: none;
          color: #fff;
          background-color: #f34f3f;
          position: relative;
          font-size: 16px;
          font-family: 'Montserrat',sans-serif;
          line-height: 2.6em;
          letter-spacing: .1em;
          font-weight: 500;
          padding: 6px 35px;
          z-index: 3;
         }
        }
      }
    }
  }


}